{% extends "@User/Page_admin.html.twig" %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#Raslen tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <div class="col-lg-20 grid-margin stretch-card" xmlns="http://www.w3.org/1999/html">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Events complaints</h1>

                <div class="table-responsive pt-3">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Nom Client
                            </th>
                            <th>
                                Nom Event
                            </th>
                            <th>
                                date de Reclamation
                            </th>

                            <th>
                                Sujet Reclamation
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Statut
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody id="Raslen">
                        {% for r in rec %}

                            <tr>
                                <td>
                                    {{ r.idClient.username}}
                                </td>
                                <td>
                                    {{ r.idevent.nom }}

                                </td>
                                <td>
                                    {{ r.dateReclamation|date('d/M/Y') }}
                                </td>
                                <td>
                                    {{ r.sujetReclamation}}
                                </td>
                                <td>
                                    {{ r.descriptionReclamation}}
                                </td>
                                <td>
                                    {{ r.statut}}
                                </td>
                                <td>       {% if r.statut=="En cours" %}
                                        <a class="btn btn-success a-btn-slide-text" href="{{ path('Sms') }}">
                                            <span class="fas fa-sms" aria-hidden="true"></span>
                                            <span><strong>Sms</strong></span></a>

                                        <a class="btn btn-success a-btn-slide-text" href="{{ path('Traiter_admin',{'id':r.id}) }}">
                                            <span class="fa fa-edit" aria-hidden="true"></span>
                                            <span><strong>Traiter</strong></span></a>
                                    {% else %}



                                        <a class="btn btn-danger a-btn-slide-text" href="{{ path('Supp_Rec',{'id':r.id}) }}">
                                            <span class="fas fa-minus-circle" aria-hidden="true"></span>
                                            <span><strong>Supprimer</strong></span></a>

                                    {% endif %}

                                </td>



                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}