{% extends "@User/Page_client.html.twig" %}
{% block body %}
    <section class="feature_product_area section_gap">
        <div class="main_box">
            <div class="container-fluid">
                <div class="row">

                </div>
                <div class="row">

                    {% for p in prod %}
                        {% if p.IdProduit.nvprix != 0 %}
                            {% set datePost = p.datef|date('d-m-Y') %}
                            {% set today = "now"|date('d-m-Y') %}
                            {% if datePost != today %}
                                {#   {% set difference = date(today).diff(date(u.dateCreation)) %}
                                   {% set leftDays = difference.days %}#}
 <center>

                                <div class="col col">

                                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                                        <div class="f_p_img">
                                            <a href="#" data-toggle="modal" data-target="#2">
                                                <img src="{{ asset('Upload/')}}{{ p.IdProduit.nomfile }}" width="200" height="250"  class="img-rectangle" class="col col " /></a>
                                            <div class="p_icon">
                                            </div>
                                        </div>

                                        <h4>{{ p.IdProduit.nom}}</h4>
                                        <h6>{{ p.IdProduit.type}}</h6>
                                        <h5> {{ p.IdProduit.nvprix }} TND instead of <strike style="color: red"> {{ p.IdProduit.prix }} TND</strike></h5>
                                        <h10><font style="color: blue"> Available until {{ p.Datef|date('d/m/Y')}}</font></h10>


                                    </div>

                                </div>
 </center>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="navigation text-center " ><br>
                    <br>
                    <br>
                    {{ knp_pagination_render(prod) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}